<section>
  <div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <h1>Farmacias</h1>
      <form class="mt-2">
        <select [(ngModel)]="selectedFarmacia" name="farmacia"  (change)='onOptionsSelected($event.target.value)'>
          <option *ngFor="let farmacia of farmacia" [value]="farmacia.local_nombre">
              {{farmacia.comuna_nombre}}
          </option>
        </select>
      </form>
      
      <div>
        <h4 class="mt-5">Nombre de Local: {{selectedFarmacia}}</h4>
      </div>
    </div>
  </div>
</div>
</section>


<!-- <table class="table table-hover table-bordered table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let farmacia of farmacia">
      <th scope="row">1</th>
      <td>{{farmacia.comuna_nombre}}</td>
      <td>{{farmacia.local_nombre}}</td>
      <td>{{farmacia.funcionamiento_dia}}</td>
    </tr>

  </tbody>


</table> -->